/Win32
*.obj
*.local
*.~py
*.dsk
*.#00
*.ilc
*.ild
*.ilf
*.ils
Win32
__history
/ThirdParties/*.ZIP
/PythonSource/*.pyc
Test Applications
*.cache
*.dll
*.lastbuildstate
*.log
*.pdb
*.pch
*.tlog
*.lib
*.opendb
*.exp
*.filters
*.exe
*.idb
*.ipch
*.db
.suo
*.user
*.ilk
